@import '~bootstrap/dist/css/bootstrap.min.css';
.left-menu{
  background-color:rgb(236, 233, 228);
  //height: 100%;
  //border: white solid 1px;
  padding: 0;
  border: rgb(201, 91, 61) solid 2px;


}


.list-menu li{
  padding: 10px;
  border-bottom: black solid 0.5px;

}
.list-menu li:hover{
}
li{
  list-style-type: none;
}

.title{
  margin: 0;
  background:#d1af9b;
  line-height: 200%;
}
i{
  padding-right: 20px;
  padding-left: 20px;
}
.list-group-item{
  border: white solid 1px;
  background-color:transparent;
color: rgb(146, 103, 96);
  border-radius: 0;
}
.list-group-item:hover{
  background-color: rgb(235, 209, 174);

}
.list-group{
  border-radius: 0;
}
.content{
  margin: 0;
  background-color:transparent;


}
.list-group-item.active{
  background-color: rgb(201, 91, 61);
  border: rgba(255, 165, 2,1.0);
}
.user-manage{
 background-color: rgb(248, 247, 243);
min-height: 100vh;


}

