<div *ngIf="product" class="card mb-3 bgr-detail container__detail">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img style="width: 80%;margin: 10%"
           src="../../../../assets/photo/product/{{product.imageUrl}}"
           alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title font-weight-bolder">{{product.productName}}</h5>
        <p>Thương hiệu: {{product.brand.brandName}}</p>
        <p>Giá: <span style="font-size: 20px;color: red"
                      class="font-weight-bolder">{{(product.price - ((product.price * product.discount) / 100)) | number: '3.'}}
          VNĐ</span></p>
        <span>Số lượng mua:</span><input class="input-group-sm" type="number" [(ngModel)]="productQuantity">
        <p></p>
        <p>Số lượng trong kho: {{product.quantity}}</p>
        <p class="card-text"><small class="text-muted">Cập nhật lần
          cuối: {{product.expiryDate | date:'mediumDate'}}</small></p>
        <button (click)="addToCarts()" class="btn btn-warning">Thêm vào giỏ hàng</button>
        <button class="btn btn-primary ml-2" routerLink="/home-store/home-bakery">Trở về gian hàng</button>
      </div>
    </div>
  </div>
</div>
<!--<ngx-img-zoom class="center"-->
<!--              [zoomImageSrc]="'https://wittlock.github.io/ngx-image-zoom/assets/fullres.jpg'"-->
<!--              [previewImageSrc]="'https://wittlock.github.io/ngx-image-zoom/assets/fullres.jpg'"-->
<!--              [imgStyle]="'width:200px; height:200px; bottom:0;  left:0;  right:0;  top:0;  margin:0 auto; border:1px solid #dcdcdc;'"-->
<!--              [resultStyle]="'width:824px; height:824px; background-repeat: no-repeat; z-index: 2; position:absolute;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'"-->
<!--              [lensStyle]="'width:100px; height:100px'"-->
<!--              [enableZoom]="true"-->
<!--              [containerStyle]="">-->
<!--</ngx-img-zoom>-->
<!--<lib-ngx-image-zoom-->
<!--  [thumbImage]="'https://wittlock.github.io/ngx-image-zoom/assets/thumb.jpg'"-->
<!--  [enableLens]="true"-->
<!--  [magnification]="3"-->

<!--&gt;</lib-ngx-image-zoom>-->

