<div class="container-fluid user-info">
  <h3 class="font-weight-bold"><i class="fa fa-server"></i>Thông tin cá nhân</h3>
  <br>
  <div>
    <table class="table font-weight-bolder">
      <tr>
        <td><i class="fa fa-user"></i>Tên:</td>
        <td>Lữ Thanh Vinh</td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope"></i>Email:</td>
        <td>Lữ Thanh Vinh</td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar"></i>Ngày sinh:</td>
        <td>Lữ Thanh Vinh</td>
      </tr>
      <tr>
        <td><i class="fa fa-eye"></i>Mật khẩu:</td>
        <td>Lữ Thanh Vinh</td>
      </tr>
      <tr>
        <td><i class="fa fa-home"></i>Địa chỉ:</td>
        <td>, Hà Nội</td>
      </tr>
      <tr>
        <td><i class="fa fa-phone"></i>Số điện thoại:</td>
        <td>0922900092</td>
      </tr>
    </table>
    <br>
    <h3 class="font-weight-bold"><i class="fa fa-map-marker"></i>Địa chỉ giao hàng</h3>
    <br>
    <table class="table table font-weight-bolder">
      <tr>
        <td><i class="fa fa-home"></i>Địa chỉ:</td>
        <td>295 Hai Bà Trưng, Ba Đình, Hà Nội</td>
      </tr>
      <tr>
        <td><i class="fa fa-phone"></i>Số điện thoại:</td>
        <td>0922900092</td>
      </tr>

    </table>
  </div>
</div>
