<div class="container-fluid user-info">
  <h4 class="font-weight-bold"><i class="fa fa-server"></i>Thông tin tài khoản</h4>

  <div>
    <table class="table">
      <br>
      <tr>
        <td><i class="fa fa-user"></i>Tên:</td>
        <td><input type="text" readonly value="Lữ Thanh Vinh"></td>
      </tr>
      <tr>
        <td><i class="fa fa-envelope"></i>Email:</td>
        <td><input type="text" readonly value="Lữ Thanh Vinh"></td>
      </tr>
      <tr>
        <td><i class="fa fa-eye"></i>Mật khẩu:</td>
        <td><input type="text" readonly value="***********"></td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar"></i>Ngày sinh:</td>
        <td><input type="text" readonly value="Lữ Thanh Vinh"></td>
      </tr>
      <tr>
        <td><i class="fa fa-male"></i>Giới tính:</td>
        <td><input type="text" readonly value="Nam"></td>
      </tr>
      <tr>
        <td><i class="fa fa-home"></i>Địa chỉ:</td>
        <td>Triệu Trung, Triệu Phong, Quảng Trị</td>
      </tr>
      <tr>
        <td><i class="fa fa-phone"></i>Số điện thoại:</td>
        <td><input type="text" readonly value="Lữ Thanh Vinh"></td>
      </tr>
      <br>
    </table>
    <br>
    <h4 class="font-weight-bold"><i class="fa fa-map-marker"></i>Địa chỉ giao hàng</h4>
    <table class="table">
      <br>
      <tr>
        <td><i class="fa fa-home"></i>Địa chỉ:</td>
        <td>Đông anh, Ba đình, Hà Nội aaaaaaaaa</td>
      </tr>
      <tr>
        <td><i class="fa fa-phone"></i>Số điện thoại:</td>
        <td><input type="text" readonly value="0123654789"></td>
      </tr>
      <br>
    </table>
  </div>
</div>
