hr {
  border: #f18502 1px solid;
  width: 100%;
}

.btn-addnew {
  background-color: #f18502;
  color: #581008;
}
.btn-inside-create-coupon {
  background-color: #f18502;
  //color: #f18502;
  border: #f18502 solid 1px;
}

.dsp {
  font-size: 25px;
  font-weight: bold;
}

//.card-body {
//  background: none;
//  height: auto;
//  border: none;
//}

//label {
//  margin-left: 20px;
//}
.label-hieu-map {
  margin-left: 20px;
}

.datepicker {
  width: 180px;

}

.datepickerinput {
  padding: 1px 2px !important;
  height: 30px !important;
  width: 182px !important;
  border: rgb(118, 118, 118) 1px solid !important;
  background-color: white !important;
  color: black !important;
}

.datepicker > span:hover {
  cursor: pointer;
}

.feature {
  background: rgb(238, 159, 31);
  border: none;
  border-radius: 10px;
}

.datePicker-div {
  position: absolute;
  left: 80%;
}

.date{
  padding-top: 15px !important;
}

.modal-lg-custom {
  max-width: 85%;
}

/*notification*/
::ng-deep snack-bar-container.edit {
  background-color: #5cb85c;
  color: #ffffff;
}

::ng-deep snack-bar-container.delete {
  background-color: #C82333;
  color: #ffffff;
}

::ng-deep snack-bar-container.create {
  background-color: #EE9F1F;
  color: #ffffff;
}

::ng-deep snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.validation-msg {
  color: red;
  font-size: 12px;
}
