hr {
  border: #f18502 1px solid;
  width: 100%;
}

.btn-addnew {
  background-color: #f18502;
  color: #581008;
}
.button-edit-delete{
  font-size: 20px !important;
  padding: 2% 20% !important;
  margin: 2% 10% !important;
}
.global-button{
  background: transparent linear-gradient(38deg, #EE9F1F 0%, #FCBC53 100%) 0% 0% no-repeat padding-box;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  font-size: 12px;
  border: none;
  border-radius: 10px;
  padding: 2% 5%;
  color: #581008;
  font-weight: 700;
}

.dsp {
  font-size: 25px;
  font-weight: bold;
}

.card-body {
  background: none;
  height: auto;
  border: none;
}

label {
  margin-left: 20px;
}

.datepicker {
  width: 180px;

}

.datepickerinput {
  padding: 1px 2px !important;
  height: 30px !important;
  width: 182px !important;
  border: rgb(118, 118, 118) 1px solid !important;
  background-color: white !important;
  color: black !important;
}

.datepicker > span:hover {
  cursor: pointer;
}

.feature {
  background: rgb(238, 159, 31);
  border: none;
  border-radius: 10px;
}

.datePicker-div {
  position: absolute;
  left: 80%;
}

.date{
  padding-top: 15px !important;
}
