<script src="format.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div>
  <h2 class="labelAdd">Danh sách khách hàng</h2>
  <div>
    <input class="form-control mr-3 search " type="text" [(ngModel)]="search" placeholder="Search..."
           style="width: 400px; height: 100%">
    <div class="d-block justify-content-center ">
      <button class="btn btn-outline-primary search-input" (click)="searchName()">Tìm kiếm</button>
      <button *ngIf="hasSearch === true" class="btn btn-outline-danger search-input" (click)="backToSearch()">Quay về</button>
    </div>

  </div>
  <div>
    <div class="input-group">
      <div class="label-datepicker input-group-prepend">
        <label class=" font-weight-bold text-dark">Từ
          ngày</label>
      </div>
      <div>
        <input id="date1"  class="date form-control" style="width: 100%" type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="value1"
               >
        <button class="btn button-can" (click)="d.toggle()" type="button"><i class="fa fa-calendar-o fa-2x"></i>
        </button>

      </div>
      <label class=" font-weight-bold text-dark" style="margin-left: 10%;">Đến
        ngày </label>
      <div>
        <input id="date2" class="date form-control" id="test" style="width: 100%" type="text" [(ngModel)]="value2"
               ngbDatepicker #e="ngbDatepicker" pattern="/^(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d$/">
        <button class="btn button-can" (click)="e.toggle()" type="button"><i
          class="fa fa-calendar-o fa-2x"></i></button>
      </div>
      <button class="btn btn-primary btn-filter-custom loc" (click)="filter()"><span><i
        class="fa fa-filter"></i></span>Lọc
      </button>
      <button *ngIf="hasFilter === true" class="btn btn-outline-danger ml-1" style="width: 80px;
    height: 38px;" (click)="backToFilter()">Huy
      </button>
    </div>
  </div>
</div>
<div class="mt-3">
  <button  type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="collapse" aria-expanded="true"
          data-target="#add" (click)="scroll()" >Thêm mới
  </button>
  <table class="table table-bordered" style="font-size: 12px;">
    <thead class="bg-secondary" >
    <tr class="row px-3">
      <th scope="col" class="col-md-2">Mã</th>
      <th scope="col" class="col-md-3">Tên</th>
      <th scope="col" class="col-md-3">Địa chỉ</th>
      <th scope="col" class="col-md-2">Email</th>
      <th scope="col" class="col-md-2">Chức Năng</th>
    </tr>
    </thead>
    <tbody *ngFor=" let cus of customers">
    <tr class="row px-3">
      <td class="col-md-2">
        <button id="button-change" class="button-collapse" type="button" class="btn"
                data-toggle="collapse"
                aria-expanded="true"
                [attr.data-target]="'#demo'+cus.id">
          <span id="icon_change" class="material-icons">add</span>
        </button>
        <span class="idShow"> {{cus.id}}</span>
      </td>
      <td class="col-md-3"> {{cus.userName}}</td>
      <td class="col-md-3"> {{cus.address}}</td>
      <td class="col-md-2"> {{cus.email}}</td>
      <td class="col-md-2" style="width: auto">
        <button type="button" class="btn btn-warning"><a data-toggle="modal"
                                                         data-target="#editModal"
                                                         (click)="editModel(cus)">Sửa</a></button>
        <button type="button" class="btn btn-danger"><a data-toggle="modal"
                                                        data-target="#DeleteModal"
                                                        >Xóa</a></button>
        <!--        <button type="button" data-toggle="collapse"-->
        <!--                aria-expanded="false"-->
        <!--                [attr.data-target]="'#addInline'+cus.id" class="btn btn-success"><a>C</a></button>-->
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <div id="demo{{cus.id}}" class="row collapse px-3 w-100 hiddenRow" aria-hidden="true">
          <span class="col-md-4 h-50">So lan da mua hang : {{cus.listOrder.length}} lần</span>
          <span class="col-md-4">Tổng giá trị hàng đã mua: {{cus.total}} vnd </span>
          <span class="col-md-4">Mã chiết khấu: 1122</span>
        </div>
      </td>
    </tr>
<!--      <td colspan="5">&ndash;&gt;&ndash;&gt;-->
    </tbody>
    <div id="add" #target  style="display: none">
      <form (ngSubmit)="onSubmit(pages[pageClicked-1])" [formGroup]="addUser" class="addScoll">
        <div class="col-xl-4 form-group">
          <mat-card (mouseover)="hoverUploadPicture()"  (mouseleave)="leaveUploadPic()"
                    (click)="selectAvatar()">
            <img class="avatar" id="avatar" src="../../../../assets/photo/avt.jpeg"
                 alt="avatar">
            <input type='file' (change)="readURL($event.target);" accept="image/*" hidden
                   id="myAvatar"/>

            <i class="img"
               style="font-size: 100px; color: blue; position: absolute; left: 60px; top:60px ; opacity: 0.1"
               class="icon-upload-alt"></i>
          </mat-card>
        </div>

        <div class="add-field-customer" >
          <input
            formControlName="userName"
            type="text"  placeholder="Tên khách hàng" [value]="addUser.get('userName').value | shortNamePipe"
           />
          <label class="global-content-popup-icon"><i class="icon-user"></i></label>
          <div *ngFor="let validation of validationMessages.fullName">
                    <span class="global-content-popup-validate customer-validate"
                          *ngIf="addUser.get('userName').hasError(validation.type) && (addUser.get('userName').dirty || addUser.get('userName').touched)">{{validation.message}}
      </span>
          </div>

        </div>
        <div class="add-field-customer" style="margin-top: 1%" *ngFor="let validation of validationMessages.gender">
          <label class="global-content-popup-icon" style="margin-right: 13%"><i class="fa fa-mars"></i></label>
          <div>
            <div class="form-check-inline" style="margin-top: 13px;">
              <label><input type="radio" name="gender"
                            class="form-check-input" formControlName="gender"
                            value="Nam" checked>Nam</label></div>
            <div class="form-check-inline">
              <label><input type="radio" name="gender"
                            class="form-check-input" formControlName="gender"
                            value="Nữ">Nữ</label></div>
          </div>
          <span class="global-content-popup-validate customer-validate"
                *ngIf="addUser.get('gender').hasError(validation.type) && (addUser.get('gender').dirty || addUser.get('userName').touched)">{{validation.message}}</span>
        </div>

        <div class="add-field-customer" style="margin-top: 3%">
          <input formControlName="address"
                 type="text"
                 placeholder="Địa chỉ" [value]="addUser.get('address').value | shortNamePipe"/>
          <label class="global-content-popup-icon"><i class="icon-map-marker"></i></label>
          <span class="global-content-popup-validate customer-validate"
                *ngIf="addUser.controls.address.errors?.required && addUser.controls.address.touched">Địa chỉ không được để trống</span>
        </div>

        <div class="add-field-customer" style="margin-top: 3%">
          <label class="global-content-popup-icon"><i class="fa fa-birthday-cake"
                                                      aria-hidden="true"></i></label>
          <div>
            <input class="form-control date" formControlName="birthday" style="width: 17%" type="text" ngbDatepicker [(ngModel)]="birthday"
                   #f="ngbDatepicker">
            <button class="btn" (click)="f.toggle()" type="button" style="    margin-left: 90px;
    margin-top: -67px;
    position: relative;
    font-size: 24px;"><i

              class="fa fa-calendar-o fa-2x"></i></button>
          </div>
          <div *ngFor="let validation of validationMessages.birthday">
                                <span class="global-content-popup-validate customer-validate"
                                      *ngIf="addUser.get('birthday').hasError(validation.type) && (addUser.get('birthday').dirty || addUser.get('birthday').touched)">
                                   {{validation.message}}</span>
          </div>
        </div>

        <div class="add-field-customer" style="margin-top: 3%">
          <input type="text"
                 formControlName="phone" placeholder="Số điện thoại"/>

          <label class="global-content-popup-icon"><i class="icon-phone"></i></label>
          <div *ngFor="let validation of validationMessages.phone">  <span
            class="global-content-popup-validate customer-validate"
            *ngIf="addUser.get('phone').hasError(validation.type) && (addUser.get('phone').dirty || addUser.get('phone').touched)">
           {{validation.message}}</span></div>
        </div>

        <div class="add-field-customer" style="margin-top: 3%">
          <input type="text"
                 formControlName="email" placeholder="Email"/>

          <label class="global-content-popup-icon"><i class="icon-envelope-alt"></i></label>
          <div *ngFor="let validation of validationMessages.email">    <span
            class="global-content-popup-validate customer-validate"
            *ngIf="addUser.get('email').hasError(validation.type) && (addUser.get('email').dirty || addUser.get('email').touched)">
          {{validation.message}}</span></div>
        </div>
      </form>
      <button type="button" class="global-button edit-customer-btn1"><a data-toggle="modal"
                                                                        (click)="addCheckModal()">Thêm</a>
      </button>
    </div>
    <div class="modal fade" id="addCheckModal" tabindex="-1" role="dialog" aria-labelledby="addCheckModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="addCheckModalLabel" class="text-success">Message!!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Đã thêm mới thành công ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="backMenu()">
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" (click)="onFirst()"><a class="page-link">First</a></li>
      <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
        <a class="page-link">Previous</a>
      </li>
      <li *ngIf="pageClicked != 0" class="page-item" (click)="onSubmit(pages[pageClicked-1])">
        <a class="page-link">{{pageClicked}}</a>
      </li>
      <li [ngClass]="(pageClicked == pages[pageClicked]) ? 'active' : ''" class="page-item"
          (click)="onSubmit(pages[pageClicked-1])">
        <a class="page-link">{{pageClicked + 1}}</a>
      </li>
      <li *ngIf="pageClicked < pages.length -1" class="page-item"
          (click)="onSubmit(pages[pageClicked+1])">
        <a class="page-link">{{pageClicked + 2}}</a>
      </li>
      <li *ngIf="pageClicked < pages.length -2" class="page-item">
        <a class="page-link">...</a>
      </li>
      <li *ngIf="pageClicked < pages.length-2" class="page-item" (click)="onLast()">
        <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
      </li>
      <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
        <a class="page-link">Next</a>
      </li>
      <li class="page-item" (click)="onLast()"><a class="page-link">Last</a></li>
    </ul>
  </nav>
</div>


<!--body----------------------------------------------------------->

<!--Add Modal-->
<div class="modal fade " id="addModel" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Them thông tin khách hàng</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--        <form (ngSubmit)="onSubmit(pages[pageClicked-1])" [formGroup]="addUser">-->
        <!--          <div class="col-xl-4 form-group">-->
        <!--            <mat-card (mouseover)="hoverUploadPicture()" class="" (mouseleave)="leaveUploadPic_()"-->
        <!--                      (click)="selectAvatar_()">-->
        <!--              <img class="avatar" id="avatar" src="src/assets/photo/avt.jpeg"-->
        <!--                   alt="avatar">-->
        <!--              <input type='file' (change)="readURL($event.target);" accept="image/*" hidden-->
        <!--                     id="myAvatar"/>-->

        <!--              <i class="img"-->
        <!--                 style="font-size: 100px; color: blue; position: absolute; left: 60px; top:60px ; opacity: 0.1"-->
        <!--                 class="icon-upload-alt"></i>-->
        <!--            </mat-card>-->
        <!--          </div>-->
        <!--          &lt;!&ndash;          -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
        <!--          <div class="add-field-customer">-->
        <!--            <input-->
        <!--                   formControlName="userName"-->
        <!--                   type="text"-->
        <!--                   placeholder="Ten khach hang"/>-->
        <!--            <label class="global-content-popup-icon" ><i class="icon-user"></i></label>-->
        <!--            <div *ngFor="let validation of validationMessages.fullName">-->
        <!--                    <span class="global-content-popup-validate customer-validate"-->
        <!--                          *ngIf="addUser.get('userName').hasError(validation.type) && (addUser.get('userName').dirty || addUser.get('userName').touched)">-->
        <!--        Tên đăng ký không được để trống</span>-->
        <!--            </div>-->

        <!--          </div>-->
        <!--          <div class="add-field-customer" style="margin-top: 3%">-->
        <!--            <label class="global-content-popup-icon" style="margin-right: 13%"><i class="fa fa-mars"></i></label>-->
        <!--            <div>-->
        <!--              <div class="form-check-inline">-->
        <!--                <label  ><input type="radio"  name="gender"-->
        <!--                                                 class="form-check-input" formControlName="gender"-->
        <!--                                                 value="Nam" checked>Nam</label></div>-->
        <!--              <div class="form-check-inline">-->
        <!--                <label ><input type="radio"  name="gender"-->
        <!--                                                class="form-check-input" formControlName="gender"-->
        <!--                                                value="Nữ">Nữ</label></div>-->
        <!--            </div>-->
        <!--            <span class="global-content-popup-validate customer-validate"> Giới tính không được để trống</span>-->
        <!--          </div>-->

        <!--          <div class="add-field-customer">-->
        <!--            <input formControlName="address"-->
        <!--                  type="text"-->
        <!--                   placeholder="Địa chỉ"/>-->
        <!--            <label class="global-content-popup-icon" ><i class="icon-map-marker"></i></label>-->
        <!--            <span class="global-content-popup-validate customer-validate"-->
        <!--                  *ngIf="addUser.controls.address.errors?.required && addUser.controls.address.touched">Địa chỉ không được để trống</span>-->
        <!--          </div>-->

        <!--          <div class="add-field-customer" style="margin-top: 3%">-->
        <!--            <label class="global-content-popup-icon"><i class="fa fa-birthday-cake"-->
        <!--                                                        aria-hidden="true"></i></label>-->
        <!--            <div>-->
        <!--              <input class="form-control" formControlName="birthday" style="width: 45%" type="text"  ngbDatepicker-->
        <!--                     #f="ngbDatepicker">-->
        <!--              <button class="btn button-can" style="    margin-left: 187px" (click)="f.toggle()" type="button"><i-->
        <!--                class="fa fa-calendar-o fa-2x"></i></button>-->
        <!--            </div>-->
        <!--            <div *ngFor="let validation of validationMessages.birthday">-->
        <!--                                <span class="global-content-popup-validate customer-validate"-->
        <!--                                      *ngIf="addUser.get('birthday').hasError(validation.type) && (addUser.get('birthday').dirty || addUser.get('birthday').touched)">-->
        <!--                                   {{validation.message}}</span>-->
        <!--            </div>-->
        <!--          </div>-->

        <!--          <div class="add-field-customer" style="margin-top: 3%">-->
        <!--            <input type="text"-->
        <!--                   formControlName="phone" placeholder="Số điện thoại"/>-->

        <!--            <label class="global-content-popup-icon"><i class="icon-phone"></i></label>-->
        <!--            <div *ngFor="let validation of validationMessages.phone">  <span-->
        <!--              class="global-content-popup-validate customer-validate"-->
        <!--              *ngIf="addUser.get('phone').hasError(validation.type) && (addUser.get('phone').dirty || addUser.get('phone').touched)">-->
        <!--           {{validation.message}}</span></div>-->
        <!--          </div>-->

        <!--          <div class="add-field-customer" style="margin-top: 3%">-->
        <!--            <input type="text"-->
        <!--                   formControlName="email" placeholder="Email"/>-->

        <!--            <label class="global-content-popup-icon" ><i class="icon-envelope-alt"></i></label>-->
        <!--            <div *ngFor="let validation of validationMessages.email">    <span-->
        <!--              class="global-content-popup-validate customer-validate"-->
        <!--              *ngIf="addUser.get('email').hasError(validation.type) && (addUser.get('email').dirty || addUser.get('email').touched)">-->
        <!--          {{validation.message}}</span></div>-->
        <!--          </div>-->
        <!--        </form>-->
        <!--        <button type="button" class="global-button edit-customer-btn1"><a data-toggle="modal"-->
        <!--                                                                          (click)="addCheckModal()">Thêm</a>-->
        <!--        </button>-->
      </div>


    </div>
  </div>
</div>
<router-outlet></router-outlet>
