<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <h2>Danh sách khách hàng</h2>
  <div>
    <input class="form-control mr-3 " type="text" placeholder="Search..." style="width: 400px; height: 100%"
    >
    <button class="btn btn-outline-primary">Tìm kiếm</button>
  </div>
</div>

<div class="mt-3">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModel">Thêm mới</button>
  <!--  <table class="table table-bordered" style="font-size: 12px;">-->
  <!--    <thead class="bg-secondary">-->
  <!--    <tr class="row px-3">-->
  <!--      <th scope="col" class="col-md-2">Mã</th>-->
  <!--      <th scope="col" class="col-md-3">Tên</th>-->
  <!--      <th scope="col" class="col-md-3">Địa chỉ</th>-->
  <!--      <th scope="col" class="col-md-2">Email</th>-->
  <!--      <th scope="col" class="col-md-2">Chức Năng</th>-->
  <!--    </tr>-->
  <!--    </thead>-->
  <!--    <tbody>-->
  <!--    <tr class="row px-3" *ngFor="let cus of customers">-->
  <!--      <td class="col-md-2">-->
  <!--        <button type="button" class="btn btn-info" data-toggle="collapse"  [attr.data-target]="'#demo'+cus.id"-->
  <!--                class="border-0 bg-transparent icon-row">-->
  <!--          <i class="fa fa-plus-circle" aria-hidden="true"></i>-->
  <!--        </button>-->
  <!--        {{i}}-->
  <!--        {{cus.id}}-->
  <!--      </td>-->
  <!--      <td class="col-md-3"> {{cus.userName}}</td>-->
  <!--      <td class="col-md-3"> {{cus.address}}</td>-->
  <!--      <td class="col-md-2"> {{cus.email}}</td>-->
  <!--      <td class="col-md-2" style="width: auto">-->
  <!--        <button type="button" class="btn btn-warning"><a data-toggle="modal" data-target="#editModal"-->
  <!--                                                         (click)="editModel(customer)">Sửa</a></button>-->
  <!--        <button type="button" class="btn btn-danger"><a data-toggle="modal" data-target="#DeleteModal"-->
  <!--                                                        (click)="deleteModel(customer)">Xóa</a></button>-->
  <!--      </td>-->
  <!--      <div id="demo{{cus.id}}" class="row collapse px-3 w-100">-->
  <!--        <span class="col-md-4 h-50">1</span>-->
  <!--        <span class="col-md-4">Tổng giá trị hàng đã mua: 10000000</span>-->
  <!--        <span class="col-md-4">Mã chiết khấu: 1122</span>-->
  <!--      </div>-->
  <!--    </tr>-->
  <!--    </tbody>-->
  <!--  </table>-->
  <mat-paginator [length]="10"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<div class="modal fade " id="addModel" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">-->
        <h5 class="modal-title modal-titles" id="editModalLabel">Them thông tin khách hàng</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="contact-form" (ngSubmit)="onSubmit()" [formGroup]="addUser">
          <div>
            <img class="profile-pic" src="" alt="hahn">
          </div>
          <!--        <form (ngSubmit)="onSubmit()"  [formGroup]="customerForm">-->

          <!--        <img class="avatar" [src]="KHACHANG.Anh" alt="avatar">-->

          <div class="customer-input-outside form-group">
            <input class="global-content-popup-input customer-input form-control" id="name1" formControlName="userName"
                   type="text"
                   placeholder="Ten khach hang"/>


            <label class="global-content-popup-icon" for="name1"><i class="icon-user"></i></label>
            <span class="global-content-popup-validate customer-validate">Validate </span>
          </div>
          <div class="customer-input-outside col form-check "><i class="icon-tag "></i>
            <div class="form-check-inline">
              <label class="form-check-label" for="nam"><input type="radio" id="nam" name="gender"
                                                               class="form-check-input" formControlName="gender"
                                                               value="Nam" checked>Nam</label></div>
            <div class="form-check-inline">
              <label class="form-check-label" for="nu"><input type="radio" id="nu" name="gender"
                                                              class="form-check-input" formControlName="gender"
                                                              value="Nữ">Nữ</label></div>
          </div>
          <div class="customer-input-outside">
            <input class="global-content-popup-input customer-input form-control" id="name2" type="text"
                   placeholder="Địa chỉ"/>

            <label class="global-content-popup-icon" for="name2"><i class="icon-map-marker"></i></label>
            <span class="global-content-popup-validate customer-validate">Validate </span>
          </div>

          <div class="customer-input-outside">
            <input class="global-content-popup-input customer-input form-control" type="date" id="name3"
                   placeholder="Ngày sinh"/>

            <label class="global-content-popup-icon" for="name3"><i class="icon-calendar"></i></label>
            <span class="global-content-popup-validate customer-validate">Validate </span>
          </div>

          <div class="customer-input-outside">
            <input class="global-content-popup-input customer-input" type="text" id="name4"
                   placeholder="Số điện thoại"/>

            <label class="global-content-popup-icon" for="name4"><i class="icon-phone"></i></label>
            <span class="global-content-popup-validate customer-validate">Validate </span>
          </div>

          <div class="customer-input-outside">
            <input class="global-content-popup-input customer-input form-control" type="text" id="name5"
                   placeholder="Email"/>

            <label class="global-content-popup-icon" for="name5"><i class="icon-envelope-alt"></i></label>
            <span class="global-content-popup-validate customer-validate">Validate </span>
          </div>
          <div class="form-group">
            <div class="col-4">
              <div>
<!--                <label>File count demo</label>-->
                <input type="file" id="custom-file-input" multiple="multiple" tabindex="-1" >
              </div>
            </div>
          </div>

            <!--          <div class="custom-file">-->
            <!--            <input type="file" class="custom-file-input" id="customFile">-->
            <!--              <label class="custom-file-label" for="customFile">Choose file</label>-->
            <!--          </div>-->
            <!--          <input type="submit" value="Luu" [disabled]="studentForm.invalid">-->
        </form>
        <button type="button" class="global-button edit-customer-btn1"><a data-toggle="modal"
                                                                          data-target="#editcheckModal"
                                                                          (click)="addCheckModel(customer)">Thêm</a>
        </button>
        <button type="button" (click)="backMenu()" class="global-button-cancel edit-customer-btn2">Hủy</button>
      </div>

      <!-- Modal add check-->
      <div class="modal fade" id="addCheckModal" tabindex="-1" role="dialog" aria-labelledby="addCheckModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addCheckModalLabel" class="text-success">Message!!!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Đã thêm mới thành công ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="backMenu()">Ok</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal edit-->
      <!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">-->
      <!--  <div class="modal-dialog" role="document">-->
      <!--    <div class="modal-content">-->
      <!--      <div class="modal-header">-->
      <!--        <h5 class="modal-title modal-titles" id="editModalLabel">Sửa thông tin khách hàng</h5>-->
      <!--        <button type="button" class="close " data-dismiss="modal" aria-label="Close">-->
      <!--          <span aria-hidden="true">&times;</span>-->
      <!--        </button>-->
      <!--      </div>-->
      <!--      <div class="modal-body">-->
      <!--        &lt;!&ndash;        <form (ngSubmit)="onSubmit()"  [formGroup]="customerForm">&ndash;&gt;-->
      <!--        <img class="avatar" src="../../../../assets/photo/customer-avatar.png" alt="avatar">-->
      <!--        &lt;!&ndash;        <img class="avatar" [src]="KHACHANG.Anh" alt="avatar">&ndash;&gt;-->

      <!--        <div class="customer-input-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" -->
      <!--                 placeholder="Tên nhà phân phối"/>-->

      <!--          <label class="global-content-popup-icon" for="name0"><i class="icon-user"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-input-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text"  placeholder="Địa chỉ"/>-->

      <!--          <label class="global-content-popup-icon" for="name1"><i class="icon-map-marker"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-input-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name2" placeholder="Ngày sinh"/>-->

      <!--          <label class="global-content-popup-icon" for="name2"><i class="icon-calendar"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-input-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name3" placeholder="Số điện thoại"/>-->

      <!--          <label class="global-content-popup-icon" for="name3"><i class="icon-phone"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-input-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name4" placeholder="Email"/>-->

      <!--          <label class="global-content-popup-icon" for="name4"><i class="icon-envelope-alt"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->


      <!--        &lt;!&ndash;          <input type="submit" value="Luu" [disabled]="studentForm.invalid">&ndash;&gt;-->

      <!--        <button type="button" class="global-button edit-customer-btn1"><a data-toggle="modal"-->
      <!--                                                                          data-target="#editcheckModal"-->
      <!--                                                                          (click)="editcheckModel(customer)">Thêm</a>-->
      <!--        </button>-->
      <!--        &lt;!&ndash; Modal edit check&ndash;&gt;-->
      <!--        <div class="modal fade" id="editcheckModal" tabindex="-1" role="dialog" aria-labelledby="editCheckModalLabel"-->
      <!--             aria-hidden="true">-->
      <!--          <div class="modal-dialog" role="document">-->
      <!--            <div class="modal-content">-->
      <!--              <div class="modal-header">-->
      <!--                <h5 class="modal-title modal-titles" id="editCheckModalLabel">Xác nhận</h5>-->
      <!--                <button type="button" class="close " data-dismiss="modal" aria-label="Close">-->
      <!--                  <span aria-hidden="true">&times;</span>-->
      <!--                </button>-->
      <!--              </div>-->
      <!--              <div class="modal-body check-edit-body">-->
      <!--                <p>Bạn có chắc chắn muốn thay đổi thông tin của khách mua hàng này?</p>-->
      <!--                <button type="button" class="btn btn-success check-edit-btn">Xác Nhận</button>-->
      <!--                <button type="button" (click)="backCheckMenu()" class="global-button-cancel edit-customer-btn2">Hủy-->
      <!--                </button>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->


      <!--        &lt;!&ndash;        </form>&ndash;&gt;-->
      <!--        <button type="button" (click)="backMenu()" class="global-button-cancel edit-customer-btn2">Hủy</button>-->
      <!--        <button type="button" class="global-button edit-customer-btn3">Thêm ảnh đại diện</button>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Modal delete&ndash;&gt;-->
      <!--<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"-->
      <!--     aria-hidden="true">-->
      <!--  <div class="modal-dialog" role="document">-->
      <!--    <div class="modal-content">-->
      <!--      <div class="modal-header">-->
      <!--        <h5 class="modal-title modal-titles" id="deleteModalLabel">Xóa thông tin khách hàng</h5>-->
      <!--        <button type="button" class="close " data-dismiss="modal" aria-label="Close">-->
      <!--          <span aria-hidden="true">&times;</span>-->
      <!--        </button>-->
      <!--      </div>-->
      <!--      <div class="modal-body">-->
      <!--        &lt;!&ndash;        <form (ngSubmit)="onSubmit()"  [formGroup]="customerForm">&ndash;&gt;-->
      <!--        <img class="avatar" src="../../../../assets/photo/customer-avatar.png" alt="avatar">-->
      <!--        &lt;!&ndash;        <img class="avatar" [src]="KHACHANG.Anh" alt="avatar">&ndash;&gt;-->

      <!--        <div class="customer-imput-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name0"-->
      <!--                 placeholder="Tên nhà phân phối"/>-->

      <!--          <label class="global-content-popup-icon" for="name0"><i class="icon-user"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-imput-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name1" placeholder="Địa chỉ"/>-->

      <!--          <label class="global-content-popup-icon" for="name1"><i class="icon-map-marker"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-imput-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name2" placeholder="Ngày sinh"/>-->

      <!--          <label class="global-content-popup-icon" for="name2"><i class="icon-calendar"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-imput-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name3" placeholder="Số điện thoại"/>-->

      <!--          <label class="global-content-popup-icon" for="name3"><i class="icon-phone"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->

      <!--        <div class="customer-imput-outside">-->
      <!--          <input class="global-content-popup-input customer-input" type="text" id="name4" placeholder="Email"/>-->

      <!--          <label class="global-content-popup-icon" for="name4"><i class="icon-envelope-alt"></i></label>-->
      <!--          <span class="global-content-popup-validate customer-validate">Validate </span>-->
      <!--        </div>-->
      <!--        &lt;!&ndash;          <input type="submit" value="Luu" [disabled]="studentForm.invalid">&ndash;&gt;-->
      <!--        <button type="button" class="global-button edit-customer-btn1"><a data-toggle="modal"-->
      <!--                                                                          data-target="#deletecheckModal"-->
      <!--                                                                          (click)="deletecheckModel(customer)">Xóa</a>-->
      <!--        </button>-->
      <!--        &lt;!&ndash; Modal edit check&ndash;&gt;-->
      <!--        <div class="modal fade" id="deletecheckModal" tabindex="-1" role="dialog"-->
      <!--             aria-labelledby="deleteCheckModalLabel" aria-hidden="true">-->
      <!--          <div class="modal-dialog" role="document">-->
      <!--            <div class="modal-content">-->
      <!--              <div class="modal-header">-->
      <!--                <h5 class="modal-title modal-titles" id="deleteCheckModalLabel">Xác nhận</h5>-->
      <!--                <button type="button" class="close " data-dismiss="modal" aria-label="Close">-->
      <!--                  <span aria-hidden="true">&times;</span>-->
      <!--                </button>-->
      <!--              </div>-->
      <!--              <div class="modal-body check-edit-body">-->
      <!--                <p>Bạn có chắc chắn muốn xóa thông tin của khách mua hàng này?</p>-->
      <!--                <button type="button" class="btn btn-success check-edit-btn">Xác Nhận</button>-->
      <!--                <button type="button" (click)="backCheckMenu()" class="btn btn-secondary edit-customer-btn2">Hủy-->
      <!--                </button>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        &lt;!&ndash;        </form>&ndash;&gt;-->
      <!--        <button type="button" (click)="backMenu()" class="global-button-cancel edit-customer-btn2">Hủy</button>-->
      <!--        <button type="button" class="global-button edit-customer-btn3">Thêm ảnh đại diện</button>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      <router-outlet></router-outlet>
