<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div *ngIf="order" class="container-fluid user-oder-detail " id="nav-tabContent">

  <h5 class="title font-weight-bold">Thông tin đơn hàng</h5>
  <p>Mã đơn hàng: CODEBAKERY{{order.orderId}}</p>

  <div class="row ">
    <div class="col-md-4 ">
      <div class="info-oder">
        Đặt vào: <span
        style="color: dodgerblue">{{order.orderDate|date: 'EEEE, dd/MM/yyyy, hh:mm:ss'}}</span><br>
        Tình trạng: <span class="font-weight-bolder">{{order.orderStatus}}</span>
      </div>
    </div>
    <div class=" col-md-4">
      <div class="info-oder">
        Địa chỉ người nhận: <br>
        {{order.orderAddress}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="info-oder">
        Giao vào: <span style="color: dodgerblue">{{order.expectedDeliveryDate|date:'EEEE, dd/MM/yyyy'}}</span><br>
        Phí vận chuyển: {{order.typeOfShipping.cost|currency:'VND'}} <br>
        Hình thức thanh toán: {{order.typeOfPayment}}
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-oder">
      <thead>
      <tr>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>
          <div style="width: 60%"><span class="float-right">Tạm tính</span></div>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let detail of orderDetails" class="tr-oder">
        <td>
          <div class="row">
            <div class="col-md-3">
              <div class="image-product">
                <img
                  src="../../../assets/photo/product/{{detail.id.product.imageUrl}}"
                  alt="">
              </div>
            </div>
            <div class="col-md-9">
              <div class="info-product">
                <p class="name-product font-weight-light font-weight-bolder">{{detail.id.product.productName}}</p>
                <p>Nhà phân phối:{{detail.id.product.brand.brandName}}</p>
                <p>Mã sản phẩm: {{detail.id.product.productId}}</p>
                <button *ngIf="order.orderStatus=='Giao hàng thành công'" class="btn btn-outline-primary">Đánh giá
                </button>
              </div>
            </div>

          </div>
        </td>
        <td>{{detail.id.product.price|currency:'VND'}}</td>
        <td>{{detail.orderQuantity}}</td>
        <td>
          <div style="width: 60%"><span class="float-right">{{detail.temMoney|currency: 'VND'}}</span></div>
        </td>
      </tr>
      </tbody>
      <tr>
        <td></td>
        <td></td>
        <td>Tạm tính: <br>
          Phí vận chuyển: <br>
          <span class="font-weight-bolder">Tổng tiền:</span></td>
        <td>
          <div style="width:60%">
            <span class="float-right">{{order.totalMoney - order.typeOfShipping.cost|currency:'VND'}}</span> <br>
            <span class="float-right">{{order.typeOfShipping.cost|currency:'VND'}}</span><br>
            <span class="font-weight-bolder text-danger float-right">{{order.totalMoney|currency:'VND'}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a *ngIf="(order.orderStatus!='Đã hủy') && (order.orderStatus!='Đang xử lý')"
             [routerLink]="['/user-manage/order-follow',order.orderId]">
            <button class="btn btn-follow-oder">Theo dõi đơn hàng</button>
          </a>
        </td>
        <td></td>
        <td></td>
        <td>
          <button *ngIf="order.orderStatus=='Đang xử lý'" class="btn btn-danger" data-toggle="modal"
                  data-target="#staticBackdrop">Hủy đơn hàng
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <a [routerLink]="['/user-manage/user-order']"> <i class="fa fa-arrow-left"></i>Quay lại danh sách đơn hàng</a>
  </div>
  <br>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Bạn có thực sự muốn hủy đơn hàng này</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="order" class="modal-body">
        Mã đơn hàng:CODEBAKERY{{order.orderId}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="cancelOrder(order.orderId)"
                data-dismiss="modal">Hủy đơn hàng
        </button>
      </div>
    </div>
  </div>
</div>
