<div class="container-fluid">

  <!--Title-->
  <div class="row">
    <div class="col-12">
      <div id="title5">
        <div class="h3 header-text-color"><span>TOP <span class="top5">5</span> MẶT HÀNG BÁN CHẠY</span></div>
      </div>
    </div>
  </div>

  <!--End Title-->

  <!--Search Multi-->
  <form>
    <div class="row mt-3 px-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text font-weight-bold text-dark" id="searchProductName">Năm</span>
        </div>
        <input #y type="text" class="form-control" aria-label="Default" aria-describedby="searchProductName">
        <div class="input-group-prepend">
          <span class="input-group-text font-weight-bold text-dark" id="searchPrice">Tháng</span>
        </div>
        <input #m type="text" class="form-control" aria-label="Default" aria-describedby="searchPrice">
        <button (click)="searchProducts(y.value, m.value)"
                class="btn btn-primary btn-create-custom btn-filter-custom"><span
          class="fa fa-filter"></span>Tìm kiếm
        </button>
      </div>
    </div>
  </form>
  <!--End search Multi-->

  <div class="container-fluid">

    <!--Table list bill-->
        <table class="table table-bordered table-striped table-hover container-fluid">

          <thead class="table-header">
          <tr>
            <th class="sticky-top">Tên mặt hàng</th>
            <th class="sticky-top">Danh mục</th>
            <th class="sticky-top">Thương hiệu</th>
            <th class="sticky-top">Số lượng</th>
            <th class="sticky-top">Đơn giá</th>
            <th class="sticky-top">Doanh thu</th>
          </tr>
          </thead>

          <tbody >
            <tr *ngFor="let product of products">
              <td>{{product.productName}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.price}}</td>
              <td>{{product.productName}}</td>
            </tr>
          </tbody>
        </table>
    <!--End table list bill-->
  </div>
</div>
