<div class="container-fluid">

  <!--Title-->
  <div class="row">
    <div class="col-12">
      <div id="title5">
        <div class="h3 header-text-color"><span>TOP <span class="top5">5</span> MẶT HÀNG BÁN CHẠY</span></div>
      </div>
    </div>
  </div>

  <!--End Title-->

  <!--Search Multi-->
  <form>
    <div class="row">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text font-weight-bold text-dark" for="inputGroupSelect01">Tháng</label>
        </div>
        <select class="custom-select" #selectedWareHouse id="inputGroupSelect01">
          <option selected value="">1</option>
          <option selected value="">2</option>
          <option selected value="">3</option>
          <option selected value="">4</option>
          <option selected value="">5</option>
          <option selected value="">6</option>
          <option selected value="">7</option>
          <option selected value="">8</option>
          <option selected value="">9</option>
          <option selected value="">10</option>
          <option selected value="">11</option>
          <option selected value="">12</option>
        </select>
        <div class="input-group-prepend">
          <label class="input-group-text font-weight-bold text-dark" for="inputGroupSelect02">Năm</label>
        </div>
        <select class="custom-select" #selectedEmployees id="inputGroupSelect02">
          <option selected value="">2012</option>
          <option selected value="">2013</option>
          <option selected value="">2014</option>
          <option selected value="">2015</option>
          <option selected value="">2016</option>
          <option selected value="">2017</option>
          <option selected value="">2018</option>
          <option selected value="">2019</option>
          <option selected value="">2020</option>
        </select>
        <button class="btn btn-primary btn-filter-custom"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </form>
  <!--End search Multi-->

  <div class="row">

    <!--Table list bill-->
        <table class="table table-bordered table-striped table-hover ">

          <thead class="table-header">
          <tr>
            <th class="sticky-top" style="width: 10%">Tên phiếu</th>
            <th class="sticky-top" style="width: 20%">Tình trạng phiếu</th>
            <th class="sticky-top">Loại phiếu</th>
            <th class="sticky-top">Kho chứa</th>
            <th class="sticky-top">Phương tiện vận chuyển</th>
            <th class="sticky-top">Tên nhân viên</th>
            <th class="sticky-top">Nhà phân phối</th>

          </tr>
          </thead>

          <tbody >
            <tr>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
    <!--End table list bill-->
  </div>
</div>

