

.header-text-color {
  color: #EE9F1F;;
}
















.table-header th {
  background: #EE9F1F;
}
















#title5{
  text-align: center;
  height: 110px;
}
.top5{
  font-family: "Brush Script MT";
  font-size: 90px;
}
.container{
  width: 157%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

