input[type=text] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid white;
  color: #a0d18c;
  width: 350px;
  height: 35px;
  padding-left: 10px;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

//
//.border-top-black-custom {
//  border-top: 1px solid black;
//}
//
//.border-black-custom {
//  border: 1px solid black;
//}
//
//.main-size {
//  height: 90vh
//}
//
//.logo-custom {
//  width: 50px;
//  height: auto;
//}
//
//.header-color {
//  background-color: #204051;
//}
//
//.sidebar-color {
//  background-color: #84a9ac;
//}
//.content-color {
//  background-color: #e4e3e3;
//}
//.btn-outline-custom{background-color: #84a9ac;color: white;border-color: #84a9ac!important;text-align: left !important;}
//.btn-outline-custom:hover{color:white;background-color:#204051}
//.btn-outline-custom.disabled,
//.btn-outline-custom:disabled{color:#28a745;background-color:transparent}
//.space-router{
//  height: 8vh;
//}
.logo {
  width: 143px;
  height: auto;
}

.navbar {
  background-color: #204051;
  height: 10vh;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.outborder {
  height: 100vh;
}

.sidebarChose {
  background-color: #84a9ac;
  color: white !important;
  padding-left: 20px;
}

.sidebarChose:hover {
  background-color: #204051;
  color: white !important;
}

.listQL {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

.logout {
  color: white !important;
  text-decoration: none;
}

.leftshape {
  top: 10vh;
  height: 90vh;
  width: 25vh;
  background-color: #84a9ac;
}

.rightshape {
  height: 100%;
  width: 200vh;
  position: absolute;
  right: 0px;
  background-color: white;
}


//test css
.global-header-logo{
  box-shadow: 1px 0px 6px 6px #fff;
  border-radius: 10px;
  height: 35px;
  background-color: #fff;
  padding: 6px;
}
.global-header-navbar{
  background-color: rgb(238, 159, 31) !important;
}
.global-header-navbar-bg{
  background-color: rgba(0,0,0,0);
}
.global-header-text{
  z-index: 1;
  color: #581008 !important;
  font-weight: 500;
  text-decoration: none;
}
.global-header-navbar:before{
  background-size: 570px;
  content: "";
  width: 396px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../../assets/background/bg-bakery-1.png);
  background-repeat: no-repeat;
  background-position-x: -178px;
  background-position-y: -104px;
}
.global-header-navbar:after{
  background-size: 560px;
  content: "";
  width: 396px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../../../assets/background/bg-bakery-1.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -133px;
}
.global-sidebar{
  height: 300px;
  box-shadow: 5px 8px 20px 0px rgba(158,158,158,1);
  border-radius: 10px;
  top: 95px;
  left: 9px;
  content: "";
  bottom: -34px;
  background-image: url(../../../assets/background/bg-bakery-2.png);
  background-repeat: no-repeat;
  background-color: #FCBC53;
  position: fixed;
}
.global-sidebar-chose{
  padding-left: 20px;
  background-color: rgba(0,0,0,0);
  border-bottom: none;
  border-top: none;
}
.global-bg{
  background-color: rgba(238, 159, 31,0.5)!important;
  background-image: url(../../../assets/background/bg-bakery-4.png);
  background-position-y: 81em;
  background-position-x: -38px;
  background-size: 467px;
}

.global-content{
  border-radius: 10px;
  margin: 30px 30px 0 0;
  box-shadow: 5px 8px 20px 0px rgba(158,158,158,1);
  height: 80%;
  width: 170vh;
  position: absolute;
  right: 0px;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url(../../../assets/background/bg-bakery-3.png);
  background-position-y: 81em;
  background-position-x: -38px;
  background-position: bottom right;
  background-size: 467px;
}
.global-button{
  background: transparent linear-gradient(38deg, #EE9F1F 0%, #FCBC53 100%) 0% 0% no-repeat padding-box;
  font-size: 12px;
  border-radius: 50px;
  padding: 2% 7% 2% 7%;
  color: white;
  font-weight: 700;
}

