.modal-content {
  width: 120%;
}

input {
  width: 400px;
}
#formCreate{
  width: 400px;
}
.modal-dialog {
  justify-content: center;
}

label {
  float: left;
}

.details {
  cursor: pointer;
}

.deleteTitle {
  text-align: center;
}
