<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên tài khoản</th>
          <th scope="col">Mật khẩu</th>
          <th></th>
        </tr>
        </thead>
        <tbody class="border border-dark">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button class="border-0 mr-5 bg-light fas fa-pencil-alt"></button>
            <button class="border-0  bg-light	fa fa-trash "></button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button class="border-0 mr-5 bg-light fas fa-pencil-alt"></button>
            <button class="border-0  bg-light	fa fa-trash "></button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button class="border-0 mr-5 bg-light fas fa-pencil-alt"></button>
            <button class="border-0  bg-light	fa fa-trash "></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
        Thêm mới
      </button>
      <div class="pt-5 modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog"
           aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg pt-5">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Thêm tài khoản mới</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="email">Tên tài khoản: </label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label>Mật khẩu</label>
                <input type="password" class="form-control" id="pwd" name="pswd">
              </div>
              <div class="form-group">
                <label class="mt-1 float-left">Mã nhân viên:</label>
                <select class="w-50 m-0 p-0 pl-3 custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <button class="btn btn-primary">Kiểm tra thông tin nhân viên</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Thêm mới</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
