<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="container-oders">
  <div class="user-oder-container">
    <nav>
      <div class="nav nav-tabs font-weight-bold" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
           aria-controls="nav-home" aria-selected="true">Bánh</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
           aria-controls="nav-profile" aria-selected="false">Kẹo</a>
        <a class="nav-item nav-link" id="nav-all-product-tab" data-toggle="tab" href="#nav-all-product" role="tab"
           aria-controls="nav-all-product" aria-selected="false">Tất cả</a>

      </div>
    </nav>
    <div class="container-fluid user-oder">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <br>
          <h4 class="title font-weight-bold">Đơn hàng của tôi</h4>

          <a href=""><i class="fa fa-chevron-circle-left"></i>Về trang chủ</a>
          <br>
          <br>
          <table class="table">
            <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Ngày đặt hàng</th>
              <th>Sản phẩm</th>
              <th>Tổng tiền</th>
              <th>Trạng thái đơn hàng</th>

            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let order of orders">
              <td><a [routerLink]="['/user-manage/order-detail',order.orderId]">{{order.orderId}}</a></td>
              <td>{{order.orderDate|date:'dd/MM/yyyy'}}</td>
              <td>{{order.orderDetailList[0].id.product.productName}} và {{order.orderDetailList.length-1}} sản phẩm khác</td>
              <td>{{order.totalMoney|currency}}</td>
              <td>{{order.orderStatus}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <br>
          <h3 class="title">Danh sách đơn hàng</h3>

          <a href="">Về trang chủ</a>
          <br>
          <br>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Ngày đặt hàng</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <!--          <td><a [routerLink]="['/user-manage/user-oder',5]">MH-001</a></td>-->
              <td>Bangalore</td>
              <td><i class="fas fa-trash-alt"></i></td>
            </tr>

            <tr>
              <td>Sachin</td>
              <td>Mumbai</td>
              <td>400003</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-all-product" role="tabpanel" aria-labelledby="nav-all-product-tab">
          <br>
          <h3 class="title">Danh sách đơn hàng</h3>

          <a href="">Về trang chủ</a>
          <br>
          <br>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Ngày đặt hàng</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <!--          <td><a [routerLink]="['/user-manage/user-oder',5]">MH-001</a></td>-->
              <td>Bangalore</td>
              <td><i class="fas fa-trash-alt"></i></td>
            </tr>

            <tr>
              <td>Sachin</td>
              <td>Mumbai</td>
              <td>400003</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>

            <tr>
              <td>Uma</td>
              <td>Pune</td>
              <td>411027</td>
            </tr>
            </tbody>
          </table>

        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item page-link">1/2</li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>


    </div>
  </div>
</div>
