.title{
  text-decoration: underline;
  text-align: center;
}
i {
  font-size:  150%;
}

#nav-tab a{
  width: 33.3333333%;
  border: rgba(255, 218, 121,1.0) solid 1px;

}

#nav-tab a:hover {
  background-color: rgba(255, 218, 121,0.5);
}
//tr:hover{
//  background-color: rgba(245, 205, 121,1.0) !important;
//}
.user-oder{
  background-color:rgba(248, 239, 186,0.8);
  margin:0;

}
.nav-tabs{
background-color: rgba(241, 242, 246,0.8);
}
.nav-tabs .active{
  background-color: rgba(255, 218, 121,1.0);
  border: rgba(248, 239, 186,0.95) solid;
}
.nav-item{
  text-align: center;
color: saddlebrown;

}
.user-oder-container{
  //border: white solid 2px !important;
}
i {
  color: black;
  padding:0 1%;
}
td i:hover{
color:chocolate;
}
.modal-content {
  background-color: rgba(248, 194, 145, 0.95);
  padding: 11px;
}
.modal {
  margin-top: 80px;
}
h1{
  color: #7a5744;
}
label{
  margin-top: auto !important;
  margin-bottom: auto;
}
.submitButton {
  color: black;
  border-style: solid;
  border-color: darkgoldenrod;
  padding: 10px;
  background-color: rgba(255, 165, 2,1.0);
  overflow: hidden;
  outline:none;
}
.submitButton:hover {
  background-color: rgba(246, 229, 141,0.5);
  color: black;
}

