<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 card-detail">
      <div class="row">
        <div class="col-7 card-product">
          <p>a</p>
          <div>
            <table class="col-12">
              <tr>
                <td>
                  <p>a</p>
                  <p>a</p>
                  <p>a</p>
                  <p>a</p>
                  <p>a</p>
                  <p>a</p>
                </td>
                <td>thanh</td>
              </tr>
              <tr>
                <td>thanh</td>
                <td>thanh</td>
              </tr>
            </table>
          </div>
          <p>a</p>
        </div>
        <div class="col-5 card-payment-box">
          <p>a</p>
          <div class="col-12 box-detail">
            <br>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
