.card-detail{
  //background-color: #5cb85c;
  position: relative;
  top: 50px;
}
.card-product{
  //background-color: red;
}
.card-payment-box{
  //background-color: #0DADEF;
}
table{
  background-color: white;
  border-radius: 5px;
}
.box-detail{
  background-color: white;
  border-radius: 5px;
}
